.checkout {
    background-color: #dbd3d360;
    
}

.checkoutNav {
    background-color: #DBD3D3;
    height: 60px;
    /* display: flex;
    align-items: center; */
}

.checkoutSection {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}