.contact {
    background-color: #dbd3d360;
    
}

.contactNav {
    background-color: #DBD3D3;
    height: 60px;
    display: flex;
    align-items: center;
}

.contactSection {
    height: 100dvh;
}