.allProductContainer {
    text-align: center;
    margin-top: 2rem;
    height: 100dvh;
    overflow-y: scroll;
    margin-bottom: 1rem;

    & h2 {
        line-height: 10rem;
        font-family: "Playwrite GB S", cursive;
        font-size: 2.5rem;
        color: #024CAA;
    }
}
.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;

    & h1 {
        font-size: 2rem;
        color: #ff0000d5;
        font-family: "Roboto", sans-serif;
    }
}